body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #b30000;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 80px;
}

nav {
    background: #8b0000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}
